body {
    background: #F7FBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    background: #F5F5F5;
    justify-content: center;
    flex-direction: column;
}

.mobile {
    display: none;
}

.wrapper {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.flex-wrapper {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    color: #000916;
}

::placeholder {
    color: #000916;
}

.header-logo {
    display: flex;
    justify-content: space-between;
}

.header-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-auth div {
    padding-right: 22px;
}

.header-enter-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000916;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 87px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 8px;
    text-decoration-line: none;
    cursor: pointer;
}

.header-logo-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    padding: 30px 0 22px;
}

.header-auth div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000916;
}

.header-menu {
    display: flex;
    justify-content: center;
    background: #113160;
    height: 74px;
    width: 100%;
}

.flex-wrapper a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
    text-align: center;
}

.current {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #A3C8FF;
    border-radius: 8px;
    padding: 10px;
}

.centre-olympiad {
    display: flex;
    background: #E0EDFF;
    width: 100%;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 100px;
}

.wrapper-centre-olympiad {
    display: flex;
    width: 1160px;
    align-items: center;
    justify-content: center;
}

.centre-olympiad-img {
    background: #113161;
    height: 593.9113159179688px;
    width: 618px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.centre-olympiad-title {
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #000916;
    padding: 66px 0 42px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.olympiad-content {
    display: flex;
    flex-direction: column;
}

.olympiad-advantages {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
}

.olympiad-advantages img {
    height: 16.800003051757812px;
    width: 21px;
    padding-right: 10px;
}

.olympiad-advantages div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000916;
}

.olympiad-btns {
    display: flex;
    width: 538px;
    justify-content: space-between;
    padding-top: 35px;
}

.olympiad-btns a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 256px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.centre-olympiad-img img {
    height: 593.9113159179688px;
    width: 475.9596862792969px;
    border-radius: 50%;
    /*background: #113160;*/
}

.olympiad-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #000916;
    margin-bottom: 40px;
}

.trust-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.trust-box {
    width: 373px;
    height: 234px;
    background: #E0EDFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trust-box div {
    display: flex;
    padding-left: 20px;
    align-items: center;
}


.trust-box-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000916;
    /*padding: 36px 0 26px 10px;*/
}

.trust-box-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding: 20px;
}

.study-path-items {
    display: flex;
    padding-bottom: 40px;
    justify-content: space-between;
}

.study-path-item {
    display: flex;
    height: 123px;
    width: 478px;
}

.study-ball {
    background: #113161;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 90px;
    min-width: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
    padding: 10px;
}

.path-info {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.study-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #113160;
    margin-bottom: 12px;
}

.study-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.to-olympiads-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 346px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    align-self: center;
    cursor: pointer;
    text-decoration-line: none;
}

.study-path {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}


.official-info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    color: #000916;
}

.official-info-content {
    display: flex;
    justify-content: space-between;
}

.official-info-item {
    display: flex;
    flex-direction: column;
    width: 360.8083801269531px;
}

.official-info-item img {
    height: 515px;
    width: 360.8083801269531px;
    margin-bottom: 10px;
}

.official-info-position {
    display: flex;
    flex-direction: column;
    width: 341px;
}

.feedback {
    display: flex;
    align-items: center;
}

.feedback div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.feedback div img {
    height: 25px;
    width: 24.962499618530273px;
    margin-right: 12px;
}

.feedback-small-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.feedback-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000916;
}

.official-info-position a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #49ACFF;
    cursor: pointer;
}

.gap21 {
    margin-bottom: 21px;
}

.gap30 {
    margin-bottom: 30px;
}

.gap8 {
    margin-bottom: 8px;
}

.official-info {
    padding-bottom: 100px;
}

.in-law-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.in-law-img img {
    height: 153px;
    width: 145.3711700439453px;
}

.in-law-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.in-law-text a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 33px;
    cursor: pointer;
    text-decoration-line: none;
}

.in-law {
    padding-bottom: 67px;
}

.present {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 472px;
    background: #E0EDFF;
    border-radius: 8px;
    margin-bottom: 120px;
}

.present img {
    height: 347.5690612792969px;
    width: 336px;
}

.present-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-left: 28px;
}

.prefooter-btns {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.prefooter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 249px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
}

footer {
    width: 100%;
    background: #F5F5F5;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 1160px;
    display: flex;
    justify-content: space-evenly;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 42px;
    text-decoration-line: none;
}

.olympiad-small-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 38px;
}

.search-olympiad-box {
    height: 94px;
    background: #113160;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

select {
    background: #A3C8FF;
    border-radius: 8px;
    height: 44px;
    width: 162px;
    left: 456px;
    top: 601px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;

}

.find-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 101px;
    height: 44px;
    background: #A3C8FF;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.prefooter-btn-olympiad-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 249px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
    margin-top: -40px;
    margin-bottom: 100px;
}

.choose-area {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.result-line {
    height: 300px;
    border: 3px solid #A3C8FF;
}

.result-content {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 888px;
}

.result-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000916;
    padding: 20px 0 20px;
}

.result-small-text {
    display: flex;
    justify-content: space-between;
    width: 309px;
}

.result-small-text div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #696969;
}

.result-item {
    display: flex;
    width: 908px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.result-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding: 18px 0 40px;
}

.result-btns a {
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*gap: 10px;*/
    /*width: 203px;*/
    /*height: 64px;*/
    /*background: #113160;*/
    /*border-radius: 8px;*/
    /*font-family: 'Inter';*/
    /*font-style: normal;*/
    /*font-weight: 500;*/
    /*font-size: 20px;*/
    /*line-height: 24px;*/
    /*color: #FFFFFF;*/
    /*text-decoration-line: none;*/
    /*cursor: pointer;*/
}

.result-btns {
    display: flex;
    width: 450px;
    justify-content: space-between;
}

.error-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000916;
    padding-bottom: 11px;
}

.reset-filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 253px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 100px;
    cursor: pointer;
    text-decoration-line: none;
}

.logopedics-olympiad-img img {
    height: 440px;
    width: 516px;
    padding-left: 85px;
    padding-bottom: 46px;
}

.logopedics-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 16px;
}

.who-suits {
    display: flex;
    flex-direction: column;
    width: 1160px;
    background: #E0EDFF;
    border-radius: 8px;
    padding: 42px;
    margin-bottom: 100px;
}

.choose-theme-row {
    display: flex;
    margin-bottom: 40px;
}

.choose-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 270px;
    height: 84px;
    background: #A3C8FF;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 26px;
    text-align: center;
    cursor: pointer;
}

.templates div img {
    height: 615px;
    width: 1160px;
}

.templates a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 256px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 33px 0 100px;
}

.mar-bot-100 {
    margin-bottom: 100px;
}

.templates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stages {
    display: flex;
    height: 6px;
    width: 1053px;
    background: #F0F6FE;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.questions {
    display: flex;
    height: 6px;
    width: 1053px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 10px;
}

.ball-question {
    width: 16px;
    height: 16px;
    background: #A4AFBF;
    border-radius: 50%;
}

.complete {
    background: #113160;
}

.question-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #113160;
    padding-bottom: 20px;
}

.test-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.question-content {
    padding-bottom: 40px;
}

.answer-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 20px;
}

.answer-item {
    display: flex;
    padding-bottom: 10px;
}

.answer-item input {
    box-sizing: border-box;
    border: 1.5px solid #E0EDFF;
    height: 18px;
    width: 18px;
    margin-right: 10px;
}

.answers {
    padding-bottom: 40px;
}

.test-btns {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    margin-bottom: 100px;

}

.test-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.skip-btn {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000916;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    width: 200px;
    background: #FFFFFF;
}



.send-err-btn {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #AEAEAE;
    cursor: pointer;
}

.test-btns div {
    display: flex;
}

.disabled {
    display: none;
}

.test-result div {
    display: flex;
}

.test-result-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    color: #113160;
}

.test-result-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-top: 15px;
}

.test-result-strong-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #113160;
    padding-top: 40px;
}

.result-btns-position {
    margin: 40px 0 100px;
}

.arrange-diploma-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #000916;
    padding: 20px 0 20px;
}

.arrange-diploma-box {
    display: flex;
    width: 1160px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.type-document {
    padding-top: 40px;
}

.document-radio {
    padding-top: 20px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.document-radio-item {
    display: flex;
    align-items: center;
}

.document-checkbox {
    display: flex;
    padding-top: 30px;
    align-items: center;
    padding-bottom: 40px;
}

.document-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000916;
}

.document-checkbox form input {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    margin-right: 10px;
}

.document-radio-item form input {
    width: 28px;
    height: 28px;
}

.inputs-area {
    display: flex;
    flex-direction: column;
}

.inputs-area input {
    height: 68px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000916;
    border: 1px solid #113160;
    padding-left: 20px;
}

.inputs-area select {
    height: 68px;
    width: 504px;
    border-radius: 8px;
    margin-bottom: 10px;
    background: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000916;
    border: 1px solid #113160;
    padding-left: 20px;
    cursor: pointer;
}

.arrange-diploma-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.arrange-diploma-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 264px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #000916;
    cursor: pointer;
}

.arrange-diploma-image {
    display: flex;
    align-items: center;
    width: 504px;
    justify-content: space-between;
}

.arrange-diploma-image img {
    height: 527.5579833984375px;
    width: 373px;
}

.other-imgs img {
    height: 144.26519775390625px;
    width: 102px;
    margin-bottom: 5px;
}

.other-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-imgs a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #CFCFCF;
    padding-top: 8px;
    cursor: pointer;
}

.about-us-box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: #E0EDFF;
    padding: 40px 93px;
    margin-bottom: 100px;
    margin-top: 18px;
}

.about-us-box div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 40px;
}

a {
    text-decoration-line: none;
}

.pay-and-delivery-box {
    background: #E0EDFF;
    border-radius: 8px;
    padding: 40px 93px;
    height: 100%;
    margin-bottom: 32px;
    margin-top: 18px;
}

.pay-and-delivery-box div {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
}

.box-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #113160;
}

.gap-bot-68 {
    margin-bottom: 68px;
}

.strong {
    font-weight: 800;
}

.mobile {
    display: none;
}


@media screen and (max-width: 1160px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .mobile-header {
        display: flex;
        align-items: center;
        height: 99px;
        justify-content: space-around;
        max-width: 1160px;
        flex-direction: row;
        background: #113160;
    }

    a {
        cursor: pointer;
    }

    .mobile-header div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 88px;
        height: 39px;
        background: #A3C8FF;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .enter-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 88px;
        height: 39px;
        background: #A3C8FF;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }

    .mobile-header a img {
        color: #FFFFFF;
    }

    .centre-olympiad-title {
        font-style: normal;
        font-weight: 700;
        text-align: center;
        color: #000916;
        padding: 30px 0 30px;
        font-size: 29px;
        line-height: 40px;
    }

    .wrapper-centre-olympiad {
        flex-direction: column;
        max-width: calc(100vw - 20px);
        min-width: 320px;
    }

    .olympiad-content {
        align-items: center;
        padding-top: 8px;
    }

    .olympiad-btns {
        display: flex;
        justify-content: space-between;
        padding-top: 5px;
        flex-direction: column;
        width: 100%;
    }

    .olympiad-btns div {
        margin-bottom: 10px;
    }

    .centre-olympiad-img {
        background: #113161;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        height: 274px;
        width: 287px;
        align-self: end;
    }

    .centre-olympiad-img img {
        height: 274px;
        width: 277.258056640625px;
        left: 129.6129150390625px;
    }

    .olympiad-advantages div {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .olympiad-btns a {
        font-size: 18px;
        cursor: pointer;
    }

    .wrapper {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
    }

    .trust-boxes {
        flex-direction: column;
    }

    .olympiad-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
        padding-left: 20px;
    }

    .trust-box {
        width: 320px;
        height: 213px;
        margin-bottom: 20px;
    }

    .trust-boxes {
        padding-bottom: 70px;
    }

    .trust-box-title {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }

    .trust-box-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .study-path-items {
        flex-direction: column;
        max-width: calc(100vw - 20px);
        min-width: 320px;
        padding-bottom: 0;
        align-items: center;
    }

    .study-path-item {
        padding-bottom: 14px;
    }

    .path-info {
        align-self: center;
    }

    .study-title {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }

    .study-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .study-ball {
        height: 77px;
        min-width: 77px;
    }

    .to-olympiads-btn {
        width: 320px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .study-path-item {
        width: 100%;
    }

    .study-path {
        padding-bottom: 70px;
    }

    .official-info-item {
        flex-direction: column-reverse;
        width: 100%;
    }

    .official-info-text {
        padding-bottom: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .official-info {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        display: flex;
        flex-direction: column;
    }

    .official-info-content {
        flex-direction: column;
        display: flex;
        align-self: center;
    }

    .official-info-item {
        display: flex;
        align-items: center;
    }

    .official-info-item img {
        height: 456px;
        width: 320px;
    }

    .feedback-small-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        padding-left: 20px;
        padding-top: 30px;
    }

    .official-info-position a {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        padding-left: 20px;
    }

    .feedback {
        padding-left: 20px;
    }

    .official-info {
        padding-bottom: 70px;
    }

    .in-law-text a {
        padding-left: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .present {
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }

    .in-law-text {
        padding-top: 0;
    }

    .present-text {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        padding-left: 0;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    .present img {
        height: 297px;
        width: 287.1141662597656px;
    }

    .prefooter-btns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .prefooter-btn {
        margin-bottom: 10px;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .header-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        line-height: 42px;
        color: #000000;
        padding: 54px 0 37px;
    }

    .footer-mobile-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #00172B;
        padding-bottom: 40px;
    }

    .mobile-footer-links {
        display: flex;
        flex-direction: column;
    }

    .mobile-footer-links a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: #00172B;
        padding-bottom: 20px;
    }

    .menu-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        background: #113160;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 360px;
    }

    .close {
        display: flex;
        align-self: end;
        padding: 20px 20px 0 0;
        color: #FFFFFF;
        font-size: 18px;
        cursor: pointer;
    }

    .menu-mobile-title {
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 30px 0 50px;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;
    }

    .menu-links a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 0 0 25px 20px;
    }

    .white div {
        color: #FFFFFF;
    }

    .menu-mobile-enter-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 234px;
        height: 39px;
        background: #A3C8FF;
        border: 1px solid #113160;
        border-radius: 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-left: 23px;
        margin-top: 50px;

    }

    .feedback a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFF;
        text-decoration-line: none;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .white a {
        padding-left: 0;
    }

    .white {
        padding-bottom: 7px;
    }

    .olympiad-small-text {
        padding-left: 20px;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .search-olympiad-box {
        background: #113160;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        padding: 4px 0 4px;
    }

    .choose-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .search-olympiad-box {
        height: 100%;
    }

    .choose-area select {
        height: 44px;
        width: 294px;
        border-radius: 8px;
        padding: 10px 20px 10px 20px;
        margin: 16px 0 16px;
    }

    .find-btn {
        align-self: center;
        height: 44px;
        width: 294px;
        border-radius: 8px;
        margin: 10px 0 70px;
    }

    .find-btn-mobile {
        display: flex;
        align-self: center;
    }

    .prefooter-btn-olympiad-page {
        margin: 30px 0 70px;
    }

    .result-content {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
    }

    .flex-wrapper {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
        flex-direction: column;
    }

    .result-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }

    .result-small-text div {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .result-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        padding-bottom: 20px;
    }

    .result-btns {
        flex-direction: column;
        width: 100%;
    }

    .result-btns a {
        margin-bottom: 10px;
        font-size: 18px;
        width: 294px;
    }

    .result-line {
        margin-right: 13px;
    }

    .result-item {
        width: 100%;
        padding-bottom: 70px;
    }

    .error-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding-left: 20px;
    }

    .reset-filter-btn {
        width: 294px;
    }

    .result-line {
        height: 348px;
    }

    .logopedics-olympiad-img img {
        height: 274.1705322265625px;
        width: 320px;
        padding: 0;
    }

    .more-btn {
        display: flex;
        align-self: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #000000;
        cursor: pointer;
        padding: 25px 0 25px;
    }

    .who-suits {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
        padding: 30px 0 20px;
        margin-bottom: 70px;
    }


    .disabled {
        display: none;
    }

    .logopedics-text {
        padding: 0 20px 0 20px;
    }

    .centre-olympiad {
        margin-bottom: 70px;
        padding-bottom: 20px;
    }

    .choose-theme-row {
        flex-direction: column;
        margin-bottom: 0;
        align-items: center;
    }

    .choose-item {
        margin-right: 0;
        margin-bottom: 13px;
        width: 320px;
        height: 55px;
    }

    .choose-theme {
        margin-bottom: 70px;
    }

    .templates div img {
        height: 207.8275909423828px;
        width: 360px;
    }

    .templates a {
        margin-bottom: 70px;
    }

    .test-stage {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
    }

    .stages {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
        margin-bottom: 50px;
    }

    .questions {
        display: none;
    }

    .ball-question {
        width: 14px;
        height: 14px;
    }

    .question-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
    }

    .test-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
    }

    .answer-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
    }

    .test-btns {
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
        margin-bottom: 70px;
        flex-direction: column;
        align-items: start;
    }

    .test-btns div {
        flex-direction: column;
        justify-content: center;
    }

    .test-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 320px;
        margin-bottom: 30px;
    }

    .skip-btn {
        margin-left: 0;
        align-items: start;
        margin-bottom: 30px;
    }

    .answers {
        padding-bottom: 30px;
    }

    .result-btns-position {
        margin-bottom: 70px;
    }

    .arrange-diploma-box {
        flex-direction: column-reverse;
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 70px;
    }

    .arrange-diploma-title {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        padding: 0 0 30px;
    }

    .arrange-diploma-image img {
        height: 335px;
        width: 236.8253936767578px;
        margin-right: 15px;
    }

    .other-imgs img {
        height: 91.60858917236328px;
        width: 64.76190948486328px;
    }

    .arrange-diploma-image {
        margin-bottom: 30px;
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
        justify-content: center;
    }

    .other-imgs a {
        font-weight: 400;
        font-size: 10.795px;
        line-height: 13px;
        text-align: center;
    }

    .type-document {
        padding-top: 20px;
    }

    .document-radio {
        flex-direction: column;
        padding: 25px 0 40px;
        max-width: calc(100vw - 20px);
        min-width: 320px;
        width: 100%;
    }

    .bold {
        font-weight: 600;
    }

    .inputs-area select {
        width: 100%;
    }

    .arrange-diploma-btns {
        flex-direction: column;
    }

    .arrange-diploma-btn {
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    .add-btn {
        font-size: 17px;
        line-height: 21px;
    }

    .about-us-box {
        padding: 30px 16px 0 16px;
        margin-bottom: 70px;
    }

    .pay-and-delivery-box {
        padding: 30px 16px 0 16px;
        margin-bottom: 40px;
        margin-top: 0;
    }

    .gap-bot-30 {
        margin-bottom: 30px
    }

    .mar-bot-100 {
        margin-bottom: 70px;
    }



}