body {
    background: #F7FBFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    background: #F5F5F5;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.flex-wrapper {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    justify-content: space-between;
}

.header-auth {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.header-enter-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000916;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 87px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 8px;
    text-decoration-line: none;
    cursor: pointer;
}

.header-logo-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    padding: 30px 0 22px;
}

.header-auth div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000916;
}

.header-menu {
    display: flex;
    justify-content: center;
    background: #113160;
    height: 74px;
    width: 100%;
}

.flex-wrapper a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
}

.current {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 121px;
    height: 44px;
    background: #A3C8FF;
    border-radius: 8px;
}

.centre-olympiad {
    display: flex;
    background: #E0EDFF;
    width: 100%;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-bottom: 100px;
}

.wrapper-centre-olympiad {
    display: flex;
    width: 1160px;
    align-items: center;
    padding-top: 30px;
}

.centre-olympiad-title {
    font-family: 'Iowan Old Style';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 82px;
    color: #000916;
    padding: 30px 0 22px;
    display: flex;
    align-self: center;
}

.olympiad-content {
    display: flex;
    flex-direction: column;
}

.olympiad-advantages {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
}

.olympiad-advantages img {
    height: 16.800003051757812px;
    width: 21px;
    padding-right: 10px;
}

.olympiad-advantages div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000916;
}

.olympiad-btns {
    display: flex;
    width: 538px;
    justify-content: space-between;
    padding-top: 60px;
}

.olympiad-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 256px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.centre-olympiad-img img {
    height: 593.9113159179688px;
    width: 618px;
    border-radius: 50%;
    background: #113160;
}

.olympiad-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #000916;
    margin-bottom: 40px;
}

.trust-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.trust-box {
    width: 373px;
    height: 234px;
    background: #E0EDFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trust-box div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trust-box-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000916;
    padding: 36px 0 26px 10px;
}

.trust-box-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding: 0 20px;
}

.study-path-items {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.study-path-item {
    display: flex;
    height: 123px;
    width: 478px;
}

.study-ball {
    background: #113161;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100px;
    min-width: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #FFFFFF;
}

.path-info {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
}

.study-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #113160;
    margin-bottom: 12px;
}

.study-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.to-olympiads-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 346px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    align-self: center;
    margin-top: 44px;
    cursor: pointer;
    text-decoration-line: none;
}

.study-path {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}


.official-info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    color: #000916;
}

.official-info-content {
    display: flex;
    justify-content: space-between;
}

.official-info-item {
    display: flex;
    flex-direction: column;
    width: 360.8083801269531px;
}

.official-info-item img {
    height: 515px;
    width: 360.8083801269531px;
    margin-bottom: 10px;
}

.official-info-position {
    display: flex;
    flex-direction: column;
    width: 341px;
}

.feedback {
    display: flex;
    align-items: center;
}

.feedback div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.feedback div img {
    height: 25px;
    width: 24.962499618530273px;
    margin-right: 12px;
}

.feedback-small-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
}

.feedback-bold {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000916;
}

.official-info-position a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #49ACFF;
    cursor: pointer;
}

.gap21 {
    margin-bottom: 21px;
}

.gap30 {
    margin-bottom: 30px;
}

.gap8 {
    margin-bottom: 8px;
}

.official-info {
    padding-bottom: 100px;
}

.in-law-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.in-law-img img {
    height: 153px;
    width: 145.3711700439453px;
}

.in-law-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.in-law-text a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 33px;
    cursor: pointer;
    text-decoration-line: none;
}

.in-law {
    padding-bottom: 67px;
}

.present {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 472px;
    background: #E0EDFF;
    border-radius: 8px;
    margin-bottom: 100px;
}

.present img {
    height: 347.5690612792969px;
    width: 336px;
}

.present-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    padding-left: 28px;
}

.prefooter-btns {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.prefooter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 249px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
}

footer {
    width: 100%;
    background: #F5F5F5;
    height: 538px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    width: 1160px;
    display: flex;
    justify-content: space-evenly;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 42px;
    text-decoration-line: none;
}

.olympiad-small-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding-bottom: 38px;
}

.search-olympiad-box {
    height: 94px;
    background: #113160;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

select {
    background: #A3C8FF;
    border-radius: 8px;
    height: 44px;
    width: 162px;
    left: 456px;
    top: 601px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}

.find-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 101px;
    height: 44px;
    background: #A3C8FF;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.prefooter-btn-olympiad-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 249px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration-line: none;
    margin-top: -40px;
    margin-bottom: 100px;
}

.choose-area {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.result-line {
    height: 300px;
    border: 3px solid #A3C8FF;
}

.result-content {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 888px;
}

.result-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000916;
    padding: 20px 0 20px;
}

.result-small-text {
    display: flex;
    justify-content: space-between;
    width: 309px;
}

.result-small-text div {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #696969;
}

.result-item {
    display: flex;
    width: 908px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.result-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000916;
    padding: 18px 0 40px;
}

.result-btns a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 203px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration-line: none;
    cursor: pointer;
}

.result-btns {
    display: flex;
    justify-content: space-between;
    width: 490px;
}

.error-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000916;
    padding-bottom: 11px;
}

.reset-filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 253px;
    height: 64px;
    background: #113160;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 100px;
    cursor: pointer;
    text-decoration-line: none;
}
